.navbar {
    flex-direction: column;
    justify-content: center;
}
.navbar .contact-details {
    text-align: center;
}

/* Showcase Section */

#showcase .showcase-content {
    flex-wrap: wrap;
    justify-content: center;
}

#showcase .showcase-content .left-content {
    flex-basis: 100%;
    margin-bottom: 2rem;
    line-height: 1.4;
}
#showcase .showcase-content .left-content p {
    text-align: center;
}
#showcase .services-section {
    flex-wrap: wrap;
    flex-direction: column;
}