.list-item {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
}
.list-item li {
    list-style: none;
}
.list-item .deleteBtn {
    padding: 0.4rem 0.8rem;
    background: red;
    cursor: pointer;
    color: white;
    border-radius: 1rem;
    border: none;
}
